<div id="top">
  <h1>Welcome to My room!</h1>
  <h2><%= @room.room_name %></h2>
  <%= image_tag @room.t_photo.url, :width => '400px', :height => '280px' %>
</div>
</div>

<div>
  <h2>Room menu</h2>
    <ul>
      <li><a href="#address">Address</a></li>
      <li><a href="#htgr">How to get the room</a></li>
      <li><a href="#htgk">How to get the key</a></li>
      <li><a href="#aircon">Air conditioner</a></li>
      <li><a href="#garbage">Garbage</a></li>
    </ul>
</div>

<div id="address">

  <h3>Address</h3>
    <ul>
      <li>Zip code : <%= @room.zip_code %></li>
      <li><%= @room.address_en %></li>
      <li><%= @room.address_jp %></li>
      <li><a href="<%= @room.google %>" target="_blank">Google Map</a></li>
    </ul>
</div>



<div id="htgr">
<h3>How to get the Room</h3>
<p><%= @room.htgr %><BR>
<%= image_tag @room.htgr_img.url, :width => '400px', :height => '280px' %><BR>

 <% @items.each do |item| %>
      <tr>
        <td><%= item.description %></td><br>
        <td><%= image_tag item.image.url, :width => '400', :height => '280' %></td><br>

      </tr>
    <% end %>
</div>

<div id="htgk">
  <h3>How to get the key</h3>
  <%= @room.htgk %><BR>
  <%= image_tag @room.htgk_img.url, :width => '800px', :height => '560px' %><BR>
</div>

<div id="aircon">
  <h3>Air conditioner</h3>
  <%= image_tag @room.aircon.url, :width => '800px', :height => '560px' %><BR>
</div>

<div id="garbage">
  <h3>Garbage rule</h3>
    <p>IMPORTANT!</p>
      <p>PLEASE DO NOT throgh Garbages on wrong day, please check this or just keep it in the room! Thanks!</p>
  <%= image_tag @room.garbage.url, :width => '800px', :height => '560px' %><BR>
</div>