<div class="kihon"><!-- 登録済みの部屋一覧 -->
  <h1>これはプレビュー画面です。</h1>
  <a href="/users/<%= current_user.id%>">マイページへ戻る</a>



  <h2>基本情報</h2>
  <a href="/rooms/<%= params[:id] %>/edit">基本情報編集</a>
  <p>ゲスト用URL（このURLをコピーしてゲストにお送りください。）</p> 
  <p>https://hostelp.herokuapp.com/rooms/<%= current_user.nickname %>/<%= @room.id %></p>
  <p>--------------------------------ここからゲストが見る画面-------------------------</p>
</div><!-- kihon -->

<div class ="preview">
    <div class = "top", id="top">
      <h1>Welcome to <%= @room.user_name %> room!</h1>
      <h2><%= @room.room_name %></h2>
      <h1><%= image_tag @room.t_photo.url, :width => '400px', :height => '280px' %></h1>
    </div>
  <div class ="preview2">

    <div class="menu">
      <h2>Room menu</h2>
        <ul>
          <li><a href="#address">Address</a></li>
          <li><a href="#htgr">How to get the room</a></li>
          <li><a href="#htgk">How to get the key</a></li>
          <li><a href="#aircon">Air conditioner</a></li>
          <li><a href="#garbage">Garbage</a></li>
        </ul>
    </div>

    <div class ="address", id="address">

      <h3>Address</h3>
        <ul>
          <li>Zip code : <%= @room.zip_code %></li>
          <li><%= @room.address_en %></li>
          <li><%= @room.address_jp %></li>
          <li><a href="<%= @room.google %>" target="_blank">Google Map</a></li>
        </ul>
    </div>



    <div class ="htgr", id="htgr">
    <h3>How to get the Room</h3>
    <%= simple_format@room.htgr %><BR>
    <h3>Google map</h3>
    <%== @room.google %><BR>
    <h3>Vicinity map</h3>
    <%= image_tag @room.htgr_img.url, :width => '400px', :height => '280px' %><BR>


     <%= link_to '道案内に写真を追加', "#{@room.id}/items/new" %><BR>
     <h3>Step-by-step direction</h3>
     <% @items.each do |item| %>
          <tr>
            <td><%= item.description %></td><br>
            <td><%= image_tag item.image.url, :width => '400', :height => '280' %></td><br>
            <td><a href="/rooms/<%= @room.id %>/items/<%= item.id %>/edit">編集</a></td>
            <td><%= link_to '削除', "/rooms/#{@room.id}/items/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
          </tr>
        <% end %>
    </div>

    <div class ="htgk", id="htgk">
      <h3>How to get the key</h3>
      <%= @room.htgk %><BR>
      <%= image_tag @room.htgk_img.url, :width => '800px', :height => '560px' %><BR>
    </div>

    <div class="aircon", id="aircon">
      <h3>Air conditioner</h3>
      <%= image_tag @room.aircon.url, :width => '800px', :height => '560px' %><BR>
    </div>

    <div class ="garbage", id="garbage">
      <h3>Garbage rule</h3>
        <p>IMPORTANT!</p>
          <p>PLEASE DO NOT throgh Garbages on wrong day, please check this or just keep it in the room! Thanks!</p>
      <%= image_tag @room.garbage.url, :width => '800px', :height => '560px' %><BR>
    </div>
  </div><!-- preview2 -->
  <div class="twitter">
    <%== @room.twitter %>
  </div>
</div><!-- preview -->